@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

a, p, label {
  color: #0A2740;
  font-size: 16px;
}

.logo-section a {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.logo-section img, .logo-section .department {
  display: inline-block;
  margin: 0;
}
.logo-section img {
  width: 100px;
  margin-right: 20px;
}
.logo-section .department {
  font-size: 1.05em;
}

.alt-link {
  color: #57078C;
  display: inline-block;
}
.alt-link:hover {
  color: #851DE0;
}

input, select, button {
  -webkit-appearance: none;
  outline-style: none;
  border: none;
  border-radius: 0px;
}

.no-margin {
  margin: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 10px;
}

.mt-60 {
  margin-top: 60px;
}

.pt-30 {
  padding-top: 30px;
}

.p-10 {
  padding: 10px;
}

.p-60 {
  padding: 60px;
}

.white-color {
  color: #ffffff;
}

.white-bg {
  background: #ffffff;
}

.gray-bg {
  background: #F5F5F5;
}

.dark-purple-bg {
  background: #57078C;
}

.block {
  display: block;
}

.grid {
  display: grid;
  gap: 20px;
}

.no-gap {
  gap: 0;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.column {
  flex-flow: column;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.space-center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}

.button {
  background: #851DE0;
  color: #ffffff;
  font-size: 16px;
  padding: 18px 32px;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
}
.button:hover {
  background: #781ac9;
}

.dots {
  padding: 7px;
  display: flex;
  flex-flow: row wrap;
  border-radius: 3px;
  justify-content: space-around;
  width: 100px;
  margin: 10px auto 0;
  background: rgba(10, 39, 64, 0.5);
}
.dots .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0.5;
  margin: 0 7px;
  cursor: pointer;
}
.dots .dot.is-active {
  opacity: 1;
}
.dots .dot:hover {
  opacity: 1;
}
.dots.inverted {
  background: transparent;
}
.dots.inverted .dot {
  background: #0A2740;
}
.dots.inverted--light {
  background: transparent;
}
.dots.inverted--light .dot {
  background: #ffffff;
}

.header {
  position: relative;
  width: 100%;
  margin-top: -20px;
}

.header--small {
  height: 500px;
}
.header--small .wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.header--big {
  height: 800px;
}

.bg-img-properties {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.wrapper {
  width: 1520px;
  margin: auto;
}
@media only screen and (max-width: 1620px) {
  .wrapper {
    width: calc(100% - 100px);
  }
}

.narrow-wrapper {
  width: 1160px;
  margin: auto;
}
@media only screen and (max-width: 1620px) {
  .narrow-wrapper {
    width: calc(100% - 100px);
  }
}

.section {
  margin-top: 150px;
}

.page-heading {
  font-size: 5em;
  margin: 0;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.section-heading {
  text-transform: uppercase;
  font-size: 40px;
}

.third-heading {
  margin: 5px 0;
  font-size: 35px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/*# sourceMappingURL=variables.css.map */
