@import 'mixins';
@import 'variables';

// Navigation
.nav {
    position: relative;
    z-index: 1;

    .wrapper, .nav__logo-section a, .list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .nav__logo-section {

        img, .department {
            display: inline-block;
            margin: 0;
        }

        img {
            width: 100px;
            margin-right: 20px;
        }

        .department {
            font-size: 1.05em;
        }
    }

    .list {
        list-style: none;
        padding: 0;
        margin: 0;

        .link {
            display: inline-block;
            padding: 20px;
            font-weight: 700;
        }
    }
}

// Banner
.header {
    background: #eeeeee;

    .header__slide-timer {
        height: 3px;
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        background: $main-color;
    }
}