@import 'mixins';
@import 'variables';

// Message styling
.message {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
    background: $white;
    box-shadow: 0px 0px 20px transparentize($black, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: .4s;

    &.show-message {
        top: 50%;
        opacity: 1;
        visibility: visible;
    }
}

// Navigation
.nav {
    position: relative;
    z-index: 1;

    .wrapper, .nav__logo-section a, .list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .list {
        list-style: none;
        padding: 0;
        margin: 0;

        .link {
            display: inline-block;
            padding: 20px;
            font-weight: 700;

            &:hover {
                color: $main-color;
            }
        }
    }
}

// Header styling
.header {

    &.header--home { background: url('../images/headers/gallery-images/success.jpg'); }
    &.header--courses { background: url('../images/headers/students.jpg'); }
    &.header--web-development { background: url('../images/thumbnails/web-development.jpg'); }

    .header__slide-timer {
        height: 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        background: $main-color;
    }

    .header-content {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        left: 0;
        transform: translateY(-50%);
    }

    .slider__arrows {
        position: absolute;
        top: 50%;
        opacity: 0.5;
        transition: .3s;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    .slider__arrow--left {
        left: 20px;
    }

    .slider__arrow--right {
        right: 20px;
    }

    .dots {
        position: absolute;
        bottom: 120px;
        left: 50%;
        transform: translateX(-50%);
        background: transparentize($black, .5);
    }

    .form-wrapper {
        padding: 20px 0;
        background: transparentize($secondary-color, .1);
        position: absolute;
        bottom: 0;
        width: 100%;

        .form {
            grid-template-columns: 150px 350px 1fr;
            align-items: center;

            .form__study-level {
                background: $white url('../images/icons/arrow-down.svg') no-repeat 10px;
                background-position: 95% center;
                background-size: 16px;
                padding: 18px;
                font-size: 16px;
            }

            .form__search-input {
                position: relative;
                height: 100%;

                .search-input {
                    width: calc(100% - 36px);
                    padding: 18px;
                    font-size: 16px;
                }
                
                button {
                    position: absolute;
                    border-left: 1px solid darken($gray, 15%);
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    align-items: center;
                    font-size: 16px;
                    padding: 10px 20px;
                    background: transparent;
                    cursor: pointer;

                    img {
                        width: 16px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

// Events Styling
.events-section {

    .event {
        grid-template-columns: 150px 1fr;

        .event__date {
            background: $fourth-color;
            width: 150px;
            height: 100%;

            p {
                color: $white;
                margin: 0;
            }

            .day {
                font-size: 3em;
                font-weight: 700;
            }

            .month {
                font-size: 1.4em;
            }
        }

        .event__content {
            padding: 15px;
            background: $gray;

            .event-heading {
                margin: 5px 0;
                font-size: 28px;
            }

            .event-content {
                margin: 5px 0;
            } 
        }

        @include maxWidth(1269px) {
            .event__date, .event__content {
                width: initial;
                grid-column: 1 / 3;
            }

            .event__date {
                flex-flow: row;
                justify-content: flex-start;
                padding-left: 20px;

                .day {
                    margin-right: 10px;
                    font-size: 2em;
                }
            }
        }
    }

    .dots {
        margin: 30px auto 0;
    }

    @include maxWidth(900px) {
        section {
            grid-template-columns: 1fr;
        }
    }
}

// Courses styling
.courses .overview {
    width: 90%;
    margin-bottom: 40px;
}
.course-link {

    &.grid-span {
        grid-column: 1 / 3;
    }

    .course-wrapper {
        height: 400px;
        padding: 20px;
        position: relative;
        overflow: hidden;

        $transitioning: .3s cubic-bezier(.58,.01,.41,.99);
        .course__bg-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: transparentize($black, .7);
            transition: $transitioning;
        }

        .course__contents {
            position: relative;
            z-index: 1;
            margin-top: 368px;
            transition: $transitioning;

            $circleSize: 40px;
            .expand-collapse {
                height: $circleSize;
                width: $circleSize;
                border: 2px solid $white;
                border-radius: 50%;
                position: relative;
                margin: auto;

                div {
                    position: absolute;
                    background: $white;
                }

                $plusMinusHeight: 70%;
                $plusMinusWidth: 3px;

                .plus {
                    height: $plusMinusHeight;
                    width: $plusMinusWidth;
                }

                .minus {
                    width: $plusMinusHeight;
                    height: $plusMinusWidth;
                }

            }

            .course__study-levels-wrapper {
                gap: 10px 20px;
                margin-bottom: 10px;

                div {
                    margin: 5px 0;
                    padding: 10px;
                    opacity: 0;
                    transition: $transitioning;

                    p {
                        margin: 0;
                    }
                }
            }
        }

        @include minWidth(1500px) {

            &:hover {
                .course__contents {
                    margin-top: 0;


                    .course__study-levels-wrapper div {
                        opacity: 1;
                    }
                }

                .course__bg-overlay {
                    background: transparentize($main-color, .05);
                }
            }

            .expand-collapse {
                display: none;
            }
        }
        @include maxWidth(1500px) {
            .course__contents {
                text-align: center;
                //margin-top: 300px;
                margin-top: 0;

                .course__study-levels-wrapper div {
                    opacity: 1;
                }
            }

            .course__bg-overlay {
                background: transparentize($main-color, .05);
            }


        }
    }
}
@include maxWidth(930px) {
    .courses-wrapper {
        grid-template-columns: 1fr !important;

        .course__study-levels-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .grid-span {
            grid-column: 1;
        }
    }
}

// Individual courses
.course-overview {
    width: calc(100% - 120px);

    .tag {
        padding: 10px 15px;
        display: inline-block;
        margin: 5px 10px 0px 0px;
        background: $secondary-color;
    }
}

.modules {

    .module-input {
        display: none;

        &:checked + .module-label {
            background: $secondary-color !important;
        }
    }

    .module-label {
        cursor: pointer;
        margin-right: 8px;
    }

    .input-field {
        position: relative;
    }

    .module-info--list {
        
        .module-info--item {
            background: darken($gray, 7%);
            padding: 5px 20px;
            opacity: 0;
            
            &:not(:first-child) {
                margin-top: 30px;
            }

            &:hover {
            background: darken($gray, 12%);
            }
        }

        &.show-modules {
            .module-info--item {
                padding: 5px 20px;
                transition: .1s;
                opacity: 1;
                
                &:not(:first-child) {
                    margin-top: 10px;
                }
            }
        }
    }
}

// Award leaders section styling
.award-leaders {

    section {

        .arrow {
            position: absolute;
            top: 50%;
        }

        .left-arrow {
            left: 0;
        }

        .right-arrow {
            right: 0;
        }

        .award-leader {
            width: calc(100% - 200px);
            margin: auto;

            img {
                width: 250px;
                height: 250px;
                margin-right: 30px;
            }
        }
    }
}

// Testimonial styling
.testimonials {
    .testimonial-wrapper {
        background: $secondary-color;
        padding: 50px;
        margin-top: 120px;

        img {
            width: 200px;
            border: 12px solid $white;
            border-radius: 50%;
            margin-top: -150px;
        }

        .testimonial__content {
            max-width: 642px;
            margin: 0 auto;
        }
    }
}

// News styling
.news {
    .news__thumbnail {
        height: 300px;
        width: 100%;
    }

    .news__wrapper {
        position: relative;
        background: $gray;

        &:first-child .news__thumbnail {
            background: url('../images/thumbnails/news-block-1.jpg');
        }
        &:last-child .news__thumbnail {
            background: url('../images/thumbnails/news-block-2.jpg');
        }

        .news__date {
            background: $main-color;
            padding: 13px 25px;
            position: absolute;
            top: 0;
            left: 0;
            color: $white;
        }

        .news__content {
            padding: 0 20px 20px;
        }
    }

    .dots {
        margin-top: 30px;

        .dot {
            background: $fourth-color;
        }
    }
}

// Instagram styling
.instagram {
    img {
        width: 100%;
    }

    a {
        margin-top: 10px;
        display: block;
    }
}

// Footer styling
footer {
    background: $fourth-color;
    padding-bottom: 30px;

    .contact-info {

        p {
            margin: 0;
            padding: 0;
        }
    }

    .footer__links {

        .study, .search {
            h3 {
                border-bottom: 1px solid $white;
                padding: 0 0 10px;
            }

            .footer__nav {
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    a {
                        color: $white;
                        padding: 3px 0;
                        display: inline-block;
                    }
                }
            }
        }
    }

    .footer__subscribe-form {
        grid-column: 1 / 3;

        p, h3 {
            margin: 1px 0;
        }

        .input-field {
            margin-top: 14px;

            input[name=email] {
                padding: 18px;
                margin-right: 10px;
                font-size: 16px;
                width: calc(100% - 184px);
            }
        }

    }

    @include maxWidth(1090px) {
        .footer__contact-info, .footer__links {
            grid-column: 1 / 3;
        }
    }
}