@import 'mixins';
@import 'variables';

// Navigation
.nav {
    position: relative;
    z-index: 1;

    .wrapper, .nav__logo-section a, .list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .nav__logo-section {

        img, .department {
            display: inline-block;
            margin: 0;
        }

        img {
            width: 100px;
            margin-right: 20px;
        }

        .department {
            font-size: 1.05em;
        }
    }

    .list {
        list-style: none;
        padding: 0;
        margin: 0;

        .link {
            display: inline-block;
            padding: 20px;
            font-weight: 700;
        }
    }
}

// Banner
.header {
    background: url('../images/headers/gallery-images/success.jpg');

    .header__slide-timer {
        height: 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        background: $main-color;
    }

    .header-content {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        left: 0;
        transform: translateY(-50%);
    }

    .slider__arrows {
        position: absolute;
        top: 50%;
        opacity: 0.5;
        transition: .3s;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    .slider__arrow--left {
        left: 20px;
    }

    .slider__arrow--right {
        right: 20px;
    }

    .slider-dots {
        position: absolute;
        bottom: 120px;
        left: 50%;
        transform: translateX(-50%);
        padding: 7px;
        background: transparentize($black, .5);
        display: flex;
        flex-flow: row wrap;
        border-radius: 3px;

        .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $white;
            opacity: .5;
            margin: 0 7px;
            cursor: pointer;

            &.is-active {
                opacity: 1;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    .form-wrapper {
        padding: 20px 0;
        background: transparentize($secondary-color, .1);
        position: absolute;
        bottom: 0;
        width: 100%;

        .form {
            grid-template-columns: 150px 350px 1fr;
            align-items: center;

            .form__study-level {
                background: $white url('../images/icons/arrow-down.svg') no-repeat 10px;
                background-position: 95% center;
                background-size: 16px;
                padding: 20px;
            }

            .form__search-input {
                position: relative;
                height: 100%;

                .search-input {
                    width: calc(100% - 40px);
                    padding: 20px;
                }
                
                button {
                    position: absolute;
                    border-left: 1px solid $gray;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    align-items: center;
                    font-size: 16px;
                    padding: 10px 20px;

                    img {
                        width: 16px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}