@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import 'mixins';

// Variables
$main-color: #851DE0;
$secondary-color: #57078C;
$third-color: #1C0340;
$fourth-color: #0A2740;

$white: #ffffff;
$gray: #F5F5F5;
$black: #000000;

// Global tags
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

a, p, label {
    color: $fourth-color;
}

.alt-link {
    color: $secondary-color;
    display: inline-block;

    &:hover {
        color: $main-color;
    }
}

input, select, button {
    -webkit-appearance: none;
    outline-style: none;
    border: none;
    border-radius: 0px;
}

// Colours
.white-color {
    color: $white;
}

.white-bg {
    background: $white;
}

// Display
.grid {
    display: grid;
    gap: 20px;
}

.no-gap {
    gap: 0;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.column {
    flex-flow: column;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.space-center {
    justify-content: center;
}

.flex-start {
    justify-content: flex-start;
}

// Components
.button {
    background: $main-color;
    color: $white;
    font-size: 16px;
    padding: 18px 32px;
    display: inline-block;
    transition: .3s;

    &:hover {
        background: darken($main-color, 5%);
    }
}

// Header
.header {
    position: relative;
    width: 100%;
    margin-top: -20px;
}

.header--small {
    width: 500px;
}

.header--big {
    height: 800px;
}

.bg-img-properties {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

// Containers
.wrapper {
    width: 1520px;
    margin: auto;
}

.section {
    margin-top: 150px;
}

// Headings
.page-heading {
    font-size: 5em;
    margin: 0;
    color: $white;
    text-shadow: 0px 0px 10px transparentize($black, 0.7);
    text-transform: uppercase;
}

.section-heading {
    text-transform: uppercase;
    font-size: 40px;
}

.third-heading {
    margin: 5px 0;
    font-size: 35px;
}